@(links: List[Link], linkForm: Form[Link])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Список ссылок") {
    
	<h3>Добавление новой ссылки</h3>
    
    @form(routes.Links.newLink()) {
		<fieldlist>
			@inputText(
				linkForm("link"),
				'_label -> "Ссылка: ",
				'_help -> "обязательный, максимальная длина 255 символов")
		<fieldlist>
		
		<div class="actions">
			<input type="submit" value="Добавить" class="btn primary">
			&nbsp;&nbsp;&nbsp;
			<a href=@routes.Admin.main() class="btn">Назад</a>
		</div>
    }
	<br>
	<br>
	
    <h1>Всего в базе @links.size() ссылок(ки, ка)</h1>
    
	<table>
		<thead>
			<tr>
				<td width="40%">Ссылка</td>
				<td>Действие</td>
			</tr>
		</thead>
		
		<tbody>
			@for(link <- links) {
				<tr>
					<td style="font-size: 20pt">
						<a href=@routes.Links.viewLink(link.id)>@link.link</a>
					</td>
					
					<td>
						@form(routes.Links.deleteLink(link.id)) {
							<input type="submit" value="Удалить" class="btn danger">
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
	
    <div class="actions">
		<a href=@routes.Admin.main() class="btn">Назад</a>
	</div>
}
