#{extends 'main.html' /}
#{set title:'Home' /}

<div id="shapka">
<div id="menu"><a href="@{Application.index()}" id="a">Главная</a></div>
<img src="@{'/public/images/line.png'}" style="float:left">
<div id="menu">Настройки</div>
<img src="@{'/public/images/line.png'}" style="float:left">
<div id="menu">О сайте</div>
<input type="text" id="search" title="Поиск" alt="Поиск" name="Поиск" value="Поиск...">
</div>

<div id="wrapper">
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main1.png'}" /></a>
<p id="block-p" align="center">Популярные</p>
</div>
<div id="block">
<a href="@{Application.groupplus()}"><img src="@{'/public/images/main2.png'}"  /></a>
<p id="block-p" align="center">Плюсуемые</p>
</div>
<div id="block">
<a href="@{Application.groupcomment()}"><img src="@{'/public/images/main3.png'}" /></a>
<p id="block-p" align="center">Комментируемые</p>
</div>
<div id="block">
<a href="@{Application.groupreshared()}"><img src="@{'/public/images/main4.png'}" /></a>
<p id="block-p" align="center">Репостируемые</p>
</div>
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main5.png'}" /></a>
<p id="block-p" align="center">Фотография</p>
</div>
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main1.png'}" /></a>
<p id="block-p" align="center">Кино</p>
</div>
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main2.png'}" /></a>
<p id="block-p" align="center">Космос</p>
</div>
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main3.png'}" /></a>
<p id="block-p" align="center">Политика</p>
</div>
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main4.png'}" /></a>
<p id="block-p" align="center">Музыка</p>
</div>
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main5.png'}" /></a>
<p id="block-p" align="center">Фотография</p>
</div>
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main1.png'}" /></a>
<p id="block-p" align="center">Кино</p>
</div>
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main2.png'}" /></a>
<p id="block-p" align="center">Космос</p>
</div>
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main3.png'}" /></a>
<p id="block-p" align="center">Политика</p>
</div>
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main4.png'}" /></a>
<p id="block-p" align="center">Музыка</p>
</div>
<div id="block">
<a href="@{Application.group()}"><img src="@{'/public/images/main5.png'}" /></a>
<p id="block-p" align="center">Фотография</p>
</div>
</div>
