@(groupSize: Int, wordSize: Int, linkSize: Int, gpmSize: Int, profileSize: Int, postSize: Int)

@import helper._

@main("Страница администратора") {

	<p>
		<a style="font-size: 18pt" href=@routes.Groups.groups()>Группы</a>, @groupSize
	</p>
	
	<p>
		<a style="font-size: 18pt" href=@routes.Words.words()>Слова</a>, @wordSize
	</p>
	
	<p>
		<a style="font-size: 18pt" href=@routes.Links.links()>Ссылки</a>, @linkSize 
	</p>

	<a style="font-size: 18pt" href=@routes.Catalogs.main()>Каталоги</a><br><br><br>
	
	<b> 
		<font style="font-size: 18pt">
			GPM, @gpmSize
		</font> 
		<p>
			Профили, @profileSize
		</p> 
		<p>
			Посты, @postSize
		</p>
	</b> 
}