@(contents: List[models.Content], contentForm: Form[models.Content])

@import helper._

@main("Тип контента") {
    <h1>Тип контента</h1>
    <ul>
        @for(c <- contents) {
            <li>
                @c.kind
                @form(routes.Catalogs.deleteContent(c.id)) {
                    <input type="submit" value="Удалить">
                }
            </li>
            <br>
        }
    </ul>
    
    <hr/>
    <h2>Добавление</h2>
    
    @form(routes.Catalogs.addContent()) {
        Тип контента: <input type="text" name="kind" value=""> 
        <input type="submit" value="Добавить">
    }
    <hr/>
    
    <a href=@routes.Catalogs.main()>Назад</a>
}
