@(content: Long, contentForm: Form[models.Content])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Контент") {

	<h1>Изменение контента:</h1>
	
	@form(routes.Catalogs.changeContent(content)) {
		<fieldlist>
			@inputText(
				contentForm("kind"), 
				'_label -> "Тип контента:",
				'_help -> "обязательный, максимальная длина 5 символов") 
		</fieldlist>
		
		<div class="actions">
			<input type="submit" value="Добавить" class="btn primary">
			&nbsp;&nbsp;&nbsp;
			<a href=@routes.Catalogs.contents() class="btn">Назад</a>
		</div>
    }
}