@(genders: List[Gender], genderForm: Form[Gender])

@import helper._

@main("Пол") {
    <h1>Пол пользователей Google+</h1>
    <ul>
        @for(g <- genders) {
            <li>
                @g.value 
                @form(routes.Catalogs.deleteGender(g.id)) {
                    <input type="submit" value="Удалить">
                }
            </li>
            <br>
        }
    </ul>
    
    <hr/>
    <h2>Добавление</h2>
    
    @form(routes.Catalogs.addGender()) {
        Пол: <input type="text" name="value" value="">
        <input type="submit" value="Добавить">
    }
    <hr/>
    
    <a href=@routes.Catalogs.main()>Назад</a>
}
