@(group: Group, groupForm: Form[Group])

@import helper._

@main("Group") {
@form(routes.Groups.addGroup()) {
        @inputText(groupForm("name"), 'value -> "name")
        @inputFile(groupForm("activeImage"))
        @inputFile(groupForm("passiveImage"))
        @textarea(groupForm("description"))
        @inputText(groupForm("textPersent"))
        @inputText(groupForm("imagePersent"))
        @inputText(groupForm("linkPersent"))
        @inputText(groupForm("videoPersent"))
        @inputText(groupForm("audioPersent"))
        <input type="submit" value="Create">
    }
    <a href=@routes.Groups.groups()>Back to groups</a>
}