@(group: Long, groupForm: Form[Group])

@import helper._

@main("Group") {
@form(action = routes.Groups.changeGroup(group), 'enctype -> "multipart/form-data") {

	@inputText(groupForm("name"), '_label -> "name group") 

	@inputText(groupForm("activeImage"), '_label -> "Old Active Picture")
        @inputText(groupForm("passiveImage"), '_label -> "Old Passive Picture")
        <br><br>New Images For Group:<br> 
        <input type="file" name="activeImageFile" value=""><br>
        <input type="file" name="passiveImageFile" value=""><br><br>

        @textarea(groupForm("description"))
        @inputText(groupForm("textPercent"))
        @inputText(groupForm("imagePercent"))
        @inputText(groupForm("linkPercent"))
        @inputText(groupForm("videoPercent"))
        @inputText(groupForm("audioPercent"))
        
        <input type="submit" value="Update">
    }
    <a href=@routes.Groups.groups()>Back to groups</a>
}
