@(group: Group, nameGroup: String, groupLinks: List[GroupLink], groupLinkForm: Form[GroupLink])

@import helper._

@main("Список ссылок группы") {
    <h1>Ссылки для группы "@nameGroup"</h1>
    
    <ul>
        @for(groupLink <- groupLinks) {
            <li>
                <font style="font-size: 18pt">
                    @groupLink.link
                </font>
                <br>вес в посте: <font style="font-style: italic">@groupLink.postWeight</font> 
                <br>вес в профиле: <font style="font-style: italic">@groupLink.profileWeight</font>
                @form(routes.Groups.deleteGroupLink(group.id,groupLink.id)) {
                    <input type="submit" value="Удалить">
                }
            </li>
        }
    </ul>
    <hr/>
    
    <h2>Добавление ссылки в список ссылок группы</h2>
    
    @form(routes.Groups.addGroupLink(group.id)) {
        <a href=@routes.Links.links()>Все ссылки</a><br>
        <p>Ссылка:<br>
        <select size="1" name="link">
            @for(w <- Link.allInString) {
                <option value="@w">@w</option>
            }
        </select></p>
        <p>Вес ссылки в посте (число от 0 до 1):<br>
        <input type="text" name="postWeight" value=""><br>
        </p>
        <p>Вес ссылки в профиле (число от 0 до 1):<br>
        <input type="text" name="profileWeight" value=""><br>
        </p>
        <input type="submit" value="Добавить">
    }
    <hr/>
    <a href=@routes.Groups.groups()>Назад</a>
}
