@(groups: List[Group], groupForm: Form[Group])

@import helper._

@main("Groups list") {
    <h1>@groups.size() group(s)</h1>
    
    <ul>
        @for(group <- groups) {
            <li>
                @group.name
                <br><a href=@routes.Groups.groupWords(group.id)>Edit words of group</a>
                <br><a href=@routes.Groups.groupLinks(group.id)>Edit links of group</a>
                <br><a href=@routes.Groups.viewGroup(group.id)>View</a>
                @form(routes.Groups.deleteGroup(group.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    <hr/>
    
    <h2>Add a new group to the list of groups</h2>
    
    @form(routes.Groups.addGroup()) {
        @inputText(groupForm("name"))
        @inputFile(groupForm("activeImage"))
        @inputFile(groupForm("passiveImage"))
        @textarea(groupForm("description"))
        @inputText(groupForm("textPersent"))
        @inputText(groupForm("imagePersent"))
        @inputText(groupForm("linkPersent"))
        @inputText(groupForm("videoPersent"))
        @inputText(groupForm("audioPersent"))
        <input type="submit" value="Create">
    }
    <hr/>
    
    <a href=@routes.Admin.main()>Go on main page</a>
}
