@(groups: List[Group], groupForm: Form[Group])

@import helper._

@main("Список групп") {
    <h1>Список групп, @groups.size()</h1>
    
    <ul>
        @for(group <- groups) {
            <li>
                <a style="font-size: 22pt" href=@routes.Groups.viewGroup(group.id)>@group.name</a><br>
                <a href=@routes.Groups.groupWords(group.id)>Слова</a>
                 <a href=@routes.Groups.groupLinks(group.id)>Ссылки</a>
                 <a href=@routes.GPMsAddedByAdmin.addAddedByAdmin(group.id)>GPM</a>
                @form(routes.Groups.deleteGroup(group.id)) {
                    <input type="submit" value="Удалить">
                }
                <br>
            </li>
        }
    </ul>
    <hr/>
    
    <h2>Добавить новую группу</h2>
    
    @form(action = routes.Groups.addGroup(), 'enctype -> "multipart/form-data") {
	<input type="hidden" name="activeImage" value="default.jpg">
        <input type="hidden" name="passiveImage" value="default.jpg">
        Название: <input type="text" name="name" value="">
        <br><br>Изображения для группы:<br> 
        <input type="file" name="activeImageFile" value=""><br>
        <input type="file" name="passiveImageFile" value=""><br><br>
        Описание группы: <br><textarea rows="10" cols="45" name="description"></textarea><br>
        <p>Соотношение типов контента:</p>
         Текст: <br><input type="text" name="textPercent" value=""><br>
         Изображения: <br><input type="text" name="imagePercent" value=""><br>
         Ссылки: <br><input type="text" name="linkPercent" value=""><br>
         Видео: <br><input type="text" name="videoPercent" value=""><br>
         Аудио: <br><input type="text" name="audioPercent" value=""><br>
        <input type="submit" value="Добавить">
    }
    <hr/>
    
    <a href=@routes.Admin.main()>Назад</a>
}
