@(group: Group, nameGroup: String, groupLinks: List[GroupLink], groupLinkForm: Form[GroupLink])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Список ссылок группы") {
    <h1>Ссылки для группы "@nameGroup"</h1>
    
	<table>
		<thead>
			<tr>
				<td width="50%">Ссылка</td>
				<td width="10%">Вес в посте</td>
				<td width="10%">Вес в профиле</td>
				<td>Действие</td>
			</tr>
		</thead>
		
		<tbody>
			@for(groupLink <- groupLinks) {
				<tr>
					<td style="font-size: 18pt">
						 @groupLink.link
					</td>
					
					<td style="font-style: italic">
						@groupLink.postWeight
					</td>
					
					<td style="font-style: italic">
						@groupLink.profileWeight
					</td>
					
					<td>
						@form(routes.Groups.deleteGroupLink(group.id,groupLink.id)) {
							<input type="submit" value="Удалить" class="btn danger">
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
	
    <h2>Добавление новой ссылки для группы</h2>
    <br>
	
    @form(routes.Groups.addGroupLink(group.id)) {
	
		<fieldlist>
			
			@select(
				groupLinkForm("link"),
				options(Link.allInString()),
				'_label -> "Ссылка",
				'_help -> "обязательный")

			@inputText(
				groupLinkForm("postWeight"), 
				'_label -> "Вес ссылки в посте:",
				'_help -> "обязательный, число от 0 до 1")
				
			@inputText(
				groupLinkForm("profileWeight"), 
				'_label -> "Вес ссылки в профиле:",
				'_help -> "обязательный, число от 0 до 1")
				
		<fieldlist>
			
		<div class="actions">
			<input type="submit" value="Добавить" class="btn primary">
			&nbsp;&nbsp;&nbsp;
			<a href=@routes.Groups.groups() class="btn">Назад</a>
			&nbsp;&nbsp;&nbsp;
			<a href=@routes.Links.links() class="btn success">Все слова</a>
		</div>
    }
}
