@(groups: List[Group], groupForm: Form[Group])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Список групп") {
    <h1>В базе имеется @groups.size() групп(ы)</h1>

	<table>
		<thead>
			<tr>
				<td width="40%">Группа</td>
				<td width="10%">Список слов</td>
				<td width="10%">Список ссылок</td>
				<td>Пользователи, добавленные администратором</td>
				<td width="15%">Действие</td>
			</tr>
		</thead>
		
		<tbody>
			@for(group <- groups) {
				<tr>
					<td>
						<a style="font-size: 22pt" href=@routes.Groups.viewGroup(group.id)>@group.name</a>
					</td>
					
					<td>
						<a href=@routes.Groups.groupWords(group.id) class="btn">Слова</a>
					</td>
					
					<td>
						<a href=@routes.Groups.groupLinks(group.id) class="btn">Ссылки</a>
					</td>
					
					<td>
						<a href=@routes.GPMsAddedByAdmin.addAddedByAdmin(group.id) class="btn">GPM's</a>
					</td>
					
					<td>
						@form(routes.Groups.deleteGroup(group.id)) {
							<input type="submit" value="Удалить" class="btn danger">
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
	
    <h2>Добавить новую группу</h2>
	<br>
	
    @form(action = routes.Groups.addGroup(), 'enctype -> "multipart/form-data") {
		<fieldlist>
			<input type="hidden" name="image" value="default.jpg">
			@inputText(
				groupForm("name"), 
				'_label -> "Название:",
				'_help -> "обязательный, максимальная длина 50 символов")

			@inputFile(
				groupForm("imageFile"),
				'_label -> "Картинка группы:")

			@inputText(
				groupForm("description"), 
				'_label -> "Описание группы:", 
				'style -> "width:400px; height:30px;",
				'_help -> "максимальная длина 255 символов")

			<br>
			&nbsp;&nbsp;&nbsp;<b>Соотношение типов контента:</b>
			<br>
			
			@inputText(
				groupForm("textPercent"), 
				'_label -> "Текст:",
				'_help -> "обязательный, положительное число")
			
			@inputText(
				groupForm("imagePercent"), 
				'_label -> "Изображения:",
				'_help -> "обязательный, положительное число")
			
			@inputText(
				groupForm("linkPercent"), 
				'_label -> "Ссылки:",
				'_help -> "обязательный, положительное число")
			
			@inputText(
				groupForm("videoPercent"), 
				'_label -> "Видео:",
				'_help -> "обязательный, положительное число")
			
			@inputText(
				groupForm("audioPercent"), 
				'_label -> "Аудио:",
				'_help -> "обязательный, положительное число")
				
		</fieldlist>
		
		<div class="actions">
			<input type="submit" value="Добавить" class="btn primary">
			&nbsp;&nbsp;&nbsp;
			<a href=@routes.Admin.main() class="btn">Назад</a>
		</div>
    }
}
