@(group: Group, nameGroup: String, groupWords: List[GroupWord], groupWordForm: Form[GroupWord])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Список слов группы") {
    
	<h1>Слова для группы "@nameGroup"</h1>
    
	<table>
		<thead>
			<tr>
				<td width="30%">Слово</td>
				<td width="10%">Вес в посте</td>
				<td width="10%">Вес в профиле</td>
				<td>Действие</td>
			</tr>
		</thead>
		
		<tbody>
			@for(groupWord <- groupWords) {
				<tr>
					<td style="font-size: 18pt">
						@groupWord.word
					</td>
					
					<td style="font-style: italic">
						@groupWord.postWeight
					</td>
					
					<td style="font-style: italic">
						@groupWord.profileWeight
					</td>
					
					<td>
						@form(routes.Groups.deleteGroupWord(group.id,groupWord.id)) {
							<input type="submit" value="Удалить" class="btn danger">
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
	
    <h2>Добавление нового слова для группы</h2>
    <br>
	
    @form(routes.Groups.addGroupWord(group.id)) {
		<fieldlist>
			
			@select(
				groupWordForm("word"),
				options(Word.allInString()),
				'_label -> "Слово",
				'_help -> "обязательный")

			@inputText(
				groupWordForm("postWeight"), 
				'_label -> "Вес слова в посте:",
				'_help -> "обязательный, число от 0 до 1")
				
			@inputText(
				groupWordForm("profileWeight"), 
				'_label -> "Вес слова в профиле:",
				'_help -> "обязательный, число от 0 до 1")
				
		<fieldlist>
			
		<div class="actions">
			<input type="submit" value="Добавить" class="btn primary">
			&nbsp;&nbsp;&nbsp;
			<a href=@routes.Groups.groups() class="btn">Назад</a>
			&nbsp;&nbsp;&nbsp;
			<a href=@routes.Words.words() class="btn success">Все слова</a>
		</div>
    }
}
