@(group: Group, groupForm: Form[Group])

@import helper._

@main("Group") {
@form(routes.Groups.changeGroup(group.id)) {
        @inputText(groupForm("name"), '_label -> "name group") 
        @inputFile(groupForm("activeImage"), 'accept -> "image/jpeg,image/png,image/gif")
        @inputFile(groupForm("passiveImage"), 'accept -> "image/jpeg,image/png,image/gif")
        @textarea(groupForm("description"))
        @inputText(groupForm("textPersent"))
        @inputText(groupForm("imagePersent"))
        @inputText(groupForm("linkPersent"))
        @inputText(groupForm("videoPersent"))
        @inputText(groupForm("audioPersent"))
        <input type="submit" value="Update">
    }
    <a href=@routes.Groups.groups()>Back to groups</a>
}