@(links: List[Link], linkForm: Form[Link])

@import helper._

@main("Список ссылок") {
    
    <h1>Список ссылок, @links.size()</h1>
    
    <ul>
        @for(link <- links) {
            <li>
                @link.link
                
                @form(routes.Links.deleteLink(link.id)) {
                    <input type="submit" value="Удалить">
                }
            </li>
        }
    </ul>
    
    <hr/>
    <h2>Добавление новой ссылки</h2>
    
    @form(routes.Links.newLink()) {
        Ссылка: <input type="text" name="link" value="">
        <input type="submit" value="Добавить">
    }
    <hr/>
    
    <a href=@routes.Admin.main()>Назад</a>
}
