@(relations: List[Relationship], relationForm: Form[Relationship])

@import helper._

@main("Отношения") {
    <h1>Отношения</h1>
    <ul>
        @for(r <- relations) {
            <li>
                @r.status
                @form(routes.Catalogs.deleteRelation(r.id)) {
                    <input type="submit" value="Удалить">
                }
            </li>
            <br>
        }
    </ul>
    
    <hr/>
    <h2>Добавление</h2>
    
    @form(routes.Catalogs.addRelation()) {
        Статус: <input type="text" name="status" value="">
        <input type="submit" value="Добавить">
    }
    <hr/>
    
    <a href=@routes.Catalogs.main()>Назад</a>
}
