@(mainWord: Word, word: String, synonyms: List[Synonym], synonymForm: Form[Synonym])

@import helper._

@main("Synonyms list") {
    <h1>Synonyms for @word: @synonyms.size() synonym(s)</h1>
    
    <ul>
        @for(synonym <- synonyms) {
            <li>
                @synonym.synonym
                @form(routes.Application.deleteSynonym(mainWord.id, synonym.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    <hr/>
    
    <h2>Add a new synonym</h2>
    
    @form(routes.Application.addSynonym(mainWord.id)) {
        @inputText(synonymForm("synonym")) 
        <input type="submit" value="Create">
    }
    <hr/>
    <a href=@routes.Application.words()>Back to words</a>
}
