<div class="menu">
	<div class="menu-block"><a href=@routes.Application.index()>ГЛАВНАЯ</a></div>
	<div class="line"></div>
	<div class="menu-block"><a href="">ГРУППЫ</a></div>
	<div class="line"></div>
	<div class="menu-block"><a href="">НАСТРОЙКИ</a></div>
	<div class="line"></div>
	<div class="menu-block"><a href="">О САЙТЕ</a></div>
	<div >
	<form action="#" method="get">
		<input type="text" value="Поиск" id="search" onblur="if(this.value=='') this.value='Поиск';" onfocus="if(this.value=='Поиск') this.value='';">
	</form></div>
</div>