@(gpms: List[CacheClassifier], groups: List[Group], viewGroup: Group, gpmForm: Form[GPM])

@import helper._

@main(viewGroup.name) {

	<link rel="stylesheet" href=@routes.Assets.at("stylesheets/style.css") type="text/css" media="screen" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
			.form-input{
				border: 1px #999 solid;
				width: 90px;
				padding:0px 20px;
				height:20px;
				font-style:normal;
				font-family: Arial, Helvetica, sans-serif;
				color:#999;
				border-radius: 10px;
				-moz-border-radius: 10px;
				float:left;
				
			}
			.form-input:hover{
				outline: none;
			}
			
		</style>

	@top()

	<div class="content">
		@usergroups(groups)

		

		<div class="groups-users">

			@for(gpm <- gpms) {
				<div class="groups-user-block">

					@if(gpm.image == null || gpm.image == "") {
						<a href="https://plus.google.com/u/0/@gpm.gpm">
							<img src=@routes.Assets.at("images/foto.png") style="height:80px; width:80px; margin:2px;">
						</a>
					} else {
						<a href="https://plus.google.com/u/0/@gpm.gpm">
							<img src=@gpm.image style="height:80px; width:80px; margin:2px;">
						</a>
					}

					<div class="groups-user-text">

						<h2><a href="https://plus.google.com/u/0/@gpm.gpm" style="color:#333;">@gpm.name</a></h2>
						<h3>@gpm.gender</h3>
						<h3>@gpm.relationshipStatus</h3>
						<h4>В кругах у @gpm.nFollowers человек</h4>
						<h4>Позиция: @gpm.position</h4>
					</div>
				</div>
			}

		</div>
		
		<div style="float:left;width:130px;height:300px;">
			
			<hr/>
			
			@form(routes.Application.indexGpm(viewGroup.id)) {
	
				@inputText(
					gpmForm("idGpm"),
					'_label -> "Введите ваш id",
					'_help -> "",
					'class -> "form-input")
	
		        <input type="submit" value="index" class="form-input">
	    	}
	    	
    	</div>

	</div>
}
