@(words: List[Word], wordForm: Form[Word])

@import helper._

@main("Words list") {
    
    <h1>@words.size() word(s)</h1>
    
    <ul>
        @for(word <- words) {
            <li>
                @word.word has
                @word.synonyms.size() synonym(s)
                <a href=@routes.Words.synonyms(word.id)>View/Edit synonyms</a>

                @form(routes.Words.deleteWord(word.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <hr/>
    <h2>Add a new word</h2>
    
    @form(routes.Words.newWord()) {
        @inputText(wordForm("word")) 
        <input type="submit" value="Create">
    }
    <hr/>
    
    <a href=@routes.Admin.main()>Go on main page</a>
}
