@(words: List[Word], wordForm: Form[Word])

@import helper._

@main("Список слов") {
    
    <h1>Список слов, @words.size()</h1>
    
    <ul>
        @for(word <- words) {
            <li>
                <a style="font-size: 22pt" href=@routes.Words.viewWord(word.id)>@word.word</a><br>
                </font>
                <a href=@routes.Words.synonyms(word.id)>Синонимы, @word.synonyms.size()</a>
                @form(routes.Words.deleteWord(word.id)) {
                    <input type="submit" value="Удалить">
                }
                <br>
            </li>
        }
    </ul>
    
    <hr/>
    <h2>Добавление нового слова</h2>
    
    @form(routes.Words.newWord()) {
        Слово: <input type="text" name="word" value="">
        <input type="submit" value="Добавить">
    }
    <hr/>
    
    <a href=@routes.Admin.main()>Назад</a>
}
